div(class='form-group survey-location-fields row')
  div(class='col-sm-2') Latitude:
  div(class='col-2 col-sm-auto')
    #{survey_location.lat}
  div(class='col-sm-2') Longitude:
  div(class='col-2 col-sm-auto')
    #{survey_location.lng}
  div(class='col-sm-2') Distance (mi):
  div(class='col-2 col-sm-auto')
    #{survey_location.distance}
